html{
    overflow: ;
}
/* Tablet responsive */

@media screen and (max-width: 768px) {
    section .container {
        width: 100%;
    }
}



/* Mobile responsive */

@media screen and (max-width: 480px) {

    section .container,
    .lessons .col,
    .steps .col,
    .why-us .col-left,
    .why-us .col-right {
        width: 100%;
    }

    .container .row {
        flex-direction: column;
        align-items: center;
    }
    .steps{
        margin-bottom: 0;
    }
    .why-us{
        padding-top: 3rem;
        background-color: black;
    }
}